<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>{{ .Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/assets/favicon.ico" type="image/x-icon" />
    <link type="text/css" rel="stylesheet" href="/assets/lissom.css" />
    <link type="text/css" rel="stylesheet" href="/assets/styles.css" />
    <link
      type="text/css"
      rel="stylesheet"
      href="https://www.nerdfonts.com/assets/css/webfont.css"
    />
  </head>
  <body>
    <nav>
      <a href="/"><img src="/assets/avatar.jpg" /></a>
      <ul>
        {{ if ne .Package "" }}
        <li>
          <a
            class="github-icon-link"
            href="https://github.com/bzlparty/{{ .Package }}/"
          >
            <i class="nf nf-seti-github"></i>
          </a>
        </li>
        <li><a href="/{{ .Package }}">README</a></li>
        {{ end }} {{ range .NavLinks }}
        <li><a href="{{ .Href }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>
    {{ .Content }}
    <footer>
      <hr />
      <p>
        bzlparty is free software, its source code is availabel on
        <a href="https://github.com/bzlparty">Github</a>
      </p>
      <p>
        Built with <i class="nf nf-seti-bazel"></i> on {{ .Time }}{{ if .Commit
        }} from
        <a href="https://github.com/bzlparty/{{ .Package }}/tree/{{ .Commit }}"
          >{{ slice .Commit 0 7 }}</a
        >{{ end }}
      </p>
    </footer>
  </body>
</html>
